name: Test on push

on:
  push:
    paths:
      - .github/**
      - adx/**
      - core/**
      - gradle/**
      - lint/**
      - module/**
      - test/**
      - build.gradle
      - gradle.properties
      - settings.gradle

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Unit Test
        run: ./gradlew testDebug
